@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
    font-family: "Raleway" ;
    src: url('../assets/Fonts/Raleway-VariableFont_wght.woff');
    src: url('../Fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
hgroup{
    font-family: "lato", serif;
}

p{
    font-family: "raleway", serif;
}

ul{
    font-family: "raleway", serif;
}

em{
    font-family: "raleway", serif;
}

section{
    height: 1160px;
    border: 3px  solid black;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;

}

#header{
    width: 60%;
    height: 20%;
    background-color: #782221;
}
#cordonate{
    width: 60%;
    height: 5%;
    background-color: #2c1d27;
}
#column{
    width: 60%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

#left-column{
    width: 30%;
    height: 100%;
    background-color: #782221;
}

#right-column{
    width: 70%;
    height: 100%;
}
#footer{
    width: 60%;
    height: 10%;
    background-color: #782221;
}

#portrait{
    border-radius: 60%;
    max-width: 10%;
    display: flex;
    margin: auto;
    margin-top: 0.5%;
    box-shadow: 1px -2px 5px 5px white;
}

#presentation{
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
}

#infos{
    color: white;
    display: flex;
    justify-content: space-around;
}

#title{
    width: 300px;
    margin-left: 1.5rem;
    margin-right: 5rem;
    background-color: #dbc2a4;
}

#text{
    color: white;
    margin-left: 1.5rem;
    margin-right: 5rem;
}

#experience-list{
    list-style-type: circle;
}

#skills{
    display: flex;
    justify-content: space-around;
}

#network{
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}